@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/*// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/


:root {
    --color-primario:#F3F5FC;
    --color-secundario:#0A3871;
    --color-hover:#D8DFE8;
    /*--color-terciario:;*/

    --fuente-texto-in:"Inter", sans-serif;
    /*--fuente-tedxto-out:;*/

}

*{
    padding: 0px;
    margin: 0px;
}


body{
    background-color: var(--color-primario) ;
    box-sizing: border-box;
    
    width: 95%;
    height: 95%;
}
main {
    width: 100%;
        display: flex;
    padding: 40px 40px 0px 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
        
}


section{
    display: flex;
    /*font-family: var(--fuente-texto-in);*/
    align-items: center;
    width: 30%;
    flex-direction: column;
}

h2{
    font-family: var(--fuente-texto-in);
    font-weight: 400;
    color: #495057;
    font-size: 12px;
    padding-left: 24px;
}

.main__texto__out{
    background-color:#ffffff;
    border-radius: 32px;
    width: 400px;
    min-height: 800px;
    padding: 0px;
    margin: 0px;
}

textarea{
    height: auto;
    font-family: var(--fuente-texto-in);
    font-size: 32px ;
    color: var(--color-secundario);
    border: none;          /* Elimina el borde */
    outline: none;         /* Elimina el borde del enfoque */
    background: none;      /* Elimina el fondo */
    resize: none;          /* Desactiva la opción de redimensionar */
    /*padding: 0;            /* Elimina el relleno */
    /*width: 100%;           /* Ajusta el ancho al 100% del contenedor */
    /*height: 100%;          /* Ajusta la altura al 100% del contenedor */
    /*padding-top: 128px;*/
    /*padding-left: 200px;*/
    text-align: left;
}
/*.contenedor__botones__grupo{
    padding: 24px;
}*/
.botones__grupo{
    display: flex;
    gap: 24px;
    padding: 24px;
    text-align: center;
        
}

.boton__desencriptador{
    width: 328px;
    height: 60px;
    color: var(--color-primario);
    border-radius: 24px;
    background-color: var(--color-secundario);
    text-decoration: none;
    font-family: var(--fuente-texto-in);
    font-weight: 400;
    font-size: 16px;
}
.boton__encriptador{
    width: 328px;
    height: 60px;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    border-radius: 24px;
    text-decoration: none;
    font-family: var(--fuente-texto-in);
    font-weight: 400;
    font-size: 16px;
    
}
.boton__encriptador:hover{
    background-color: var(--color-hover);
    color: var(--color-secundario);

}

.boton__desencriptador:hover{
    background-color: var(--color-hover);
    color: var(--color-secundario);

}
.mensaja__derecha{
    text-align: center;
    font-family: var(--fuente-texto-in);
    font-weight: 700;
    font-size: 24px;

}
.instruccion__mensajederecha{
    text-align: center;
    font-family: var(--fuente-texto-in);
    font-weight: 400;
    font-size: 16px;
    color: #495057;

}


footer{
    text-align: center;
    font-family: var(--fuente-texto-in);
    background-color: var(--color-primario);
}