:root {
    --color-primario:#F3F5FC;
    --color-secundario:#0A3871;
    --color-hover:#D8DFE8;
    /*--color-terciario:;

    --fuente-texto-in:;
    --fuente-tedxto-out:;*/

}

body{
    background-color: #F3F5FC ;
}
main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
section{
    display: flex;

    align-items: center;
    width: 70%;
    flex-direction: column;
}

.main__texto__out{
    background-color: white;
    border-radius: 16px;
}

.botones__grupo{
    display: flex;
    gap: 1%;
    padding: 3%;
    text-align: center;
    
}

.boton__desencriptador{
    width: 200px;
    color: var(--color-primario);
    border-radius: 5px;
    background-color: var(--color-secundario);
    text-decoration: none;
}
.boton__encriptador{
    width: 200px;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    border-radius: 5px;
    text-decoration: none;
    
}
.boton__encriptador:hover{
    background-color: var(--color-hover);
    color: var(--color-secundario);

}

.boton__desencriptador:hover{
    background-color: var(--color-hover);
    color: var(--color-secundario);

}


footer{
    background-color: var(--color-primario);
}